.main-chat
  .main-chat__group-info
    %ul.group-info__information
      %li.group-name  
        = @group.name
      %li.group-member
        - @group.users.each_with_index do |user|
          =user.name

    .group-info__edit-group
      = link_to "edit", class: "edit" do
        Edit

  .main-chat__message-list
    %p.messages
      = render @messages

    -# %ul.message-info
    -#   %li.user-name
    -#     Ash
    -#   %li.message-date
    -#     2020/03/08(Sun) 20:36:12
    -# %p.message
    -#   = render @messages

  .main-chat__message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('far', 'image')
          = f.file_field :image, class: "input-box__image-file"
      = f.submit 'Send', class: "submit-btn"