.side-bar
  .side-bar__top-box
    .top-box-items
      %p.top-box-items__username
        = current_user.name
      %ul.top-box-items__menu
        %li.new-group
          = link_to new_group_path, class: "top-box-items__menu" do
            = icon('fas', 'edit', class: "top-box-items__menu--icon")
        %li.edit-user
          = link_to edit_user_path(current_user), class: "top-box-items__menu" do
            = icon('fas', 'cog', class: "top-box-items__menu--icon")
  
  .side-bar__groups
    - current_user.groups.each do |group|
      .group
        = link_to "#", class: "group" do
          %p.group__group-name
            = group.name
          %P.group__newest-message
            まだメッセージがありません